@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: o;
    text-decoration: capitalize;
    font-family: 'Oswald', sans-serif;
}

.container {
    position:relative;
    
}

.container .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.container .slide-container .content {
    flex: 1 1 350px;
    animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent {
    0%{
        opacity: 0;
        transform:translateX(-50px);
    }
}

.container .slide-container .image {
    flex: 1 1 500px;
}

.container .slide-container .image img {
    width:100%;
    animation:slideImage .4s linear;
}

@keyframes slideImage {
    0%{
        opacity: 0;
        transform:translateY(-50px);
    }
}


.container .slide-container .slide .content h3 {
    font-size: 35px;
    
}

.container .slide-container .slide .content p {
    font-size: 16px;
    color: #333;
    padding: 10px 0;
}


.container .slide-container .slide .content .btn {
    margin-top: 10px;
    display: inline-block;
    background: #666;
    font-size: 17px;
    padding: 9px 40px;
    color: white;
}

.container .slide-container .slide .content .btn:hover {
    background: #333;
}
.container .slide-container {
    display: none;
}

.container .slide-container.active {
    display: block;
}

.container .slide-container:nth-child(1) .slide {
    background:linear-gradient(95deg, #fff 70%, #00fff2 30.1%)
}

.container .slide-container:nth-child(2) .slide {
    background:linear-gradient(95deg, #fff 70%, #00fff2 30.1%)
}

.container .slide-container:nth-child(3) .slide {
    background:linear-gradient(95deg, #fff 70%, #00ccff 30.1%)
}

.container #prev,.container #next {
    position: absolute;
    transform:translateY(-900%);
    color: #fff;
    background:#333;
    height: 50px;
    width:50px;
    line-height:50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}
   

.container #prev:hover{
    background:#666;
    color: #ff0000c0;
    transition: .2s ease;
}
.container #next:hover{
    background:#666;
    color: #00ff62;
    transition: .2s ease;

}

.container #prev {
    left:20px;
}

.container #next {
    right:20px;
}

@media screen and (max-width:500px) {
    .container #prev {
        left:0px;
        
    }

    .container #next {
        right:0px;
        
    }

    .previw {
        margin-top: 30px;
    }

    .nextw {
        margin-top: 30px;
    }
}








